{% extends 'goods_list/base.html' %}
{% load static %}

{% block nav %}
<li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Каталог товаров</a></li>
<li><a href="{% url 'promo' %}" class="nav-link px-2 text-secondary">Акционные предложения</a></li>
{% endblock %}

{% block title%}
{{title}}
{% endblock %}

{% block list %}
{% for item in promo_list %}
    <div class="row p-2 bg-white border rounded" style="margin: 5px">
                <div class="col-md-3 mt-1">
                    <img class="img-fluid img-responsive rounded product-image"
                                                src="{% static item.photo_url %}">
                </div>
                <div class="col-md-6 mt-1" style="margin:0;width: 520px;">
                    <h5>{{item.name}}</h5>
                    <p class="text-justify para mb-0">{{item.text}}<br><br></p>
                </div>
    </div>
{% endfor %}
{% endblock %}